<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--  RavencoinLib settings start -->

    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <!-- Shared RPC settings end -->

    
    <!-- Ravencoin settings start -->
    <add key="Ravencoin_DaemonUrl" value="http://localhost:8766" />
    <add key="Ravencoin_DaemonUrl_Testnet" value="http://localhost:18766" />
    <add key="Ravencoin_WalletPassword" value="MyWalletPassword" />
    <add key="Ravencoin_RpcUsername" value="MyRpcUsername" />
    <add key="Ravencoin_RpcPassword" value="MyRpcPassword" />
    <!-- Ravencsoin settings end -->

    <!-- Demo client settings start -->
    <add key="ExtractMyPrivateKeys" value="false" />
    <!-- Demo client settings end -->

    <!--  RavencoinLib settings end -->

  </appSettings>
</configuration>